﻿@model WebApplication1.ViewModels.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3>Авторизация</h3>
            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Login">Введите Login</label>
                    <input type="text" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Введите пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="Admin">Admin</label>
                    <input type="checkbox" asp-for="Admin" />
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
                <a asp-action="Register" asp-controller="Account" class="btn btn-light float-right">Регистрация</a>
            </form>
        </div>
    </div>
</div>