﻿@model WebApplication1.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3>Регистрация</h3>
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Login">Введите Login</label>
                    <input type="text" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Введите пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
                <a asp-action="Login" asp-controller="Account" class="btn btn-light float-right">Авторизация</a>
            </form>
        </div>
    </div>
</div>

