﻿@model List<WebApplication1.Models.Result>

@{
    ViewData["Title"] = "Room";
}


<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">
    На главную
</a>
    <hr />
    <div class="card border-dark">
        <div class="card-body text-dark">
            <p class="card-text">Пользователь: @User.Identity.Name</p>
            <p class="card-text">
                Роль:
                @if (User.IsInRole("admin"))
                {
                    @Html.Label("admin")
                }
                else
                {
                    @Html.Label("user")
                }
            </p>
        </div>
    </div>
<hr />
<div class="card-columns">
    @foreach (var item in Model)
    {
    <a asp-action="Test" asp-route-id="@item.Id">
        <div class="card border-dark">
            <div class="card-header">
                Анкета: @Html.DisplayFor(modelItem => item.Anket.Name)
            </div>
            <div class="card-body text-dark">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Score)%</h5>
                <p class="card-text">Тестирование: @Html.DisplayFor(modelItem => item.Date_begin)</p>
                <p class="card-text">Длительность: @Html.DisplayFor(modelItem => item.Second)s</p>
            </div>
        </div>
    </a>
    }
</div>
