﻿@model WebApplication1.Models.Result

@{
    ViewData["Title"] = "Результаты теста";
}
<a asp-action="Room" asp-controller="Account" style="text-decoration: none;" class="btn btn-secondary">
    Профиль
</a>
<h4>Результаты теста: @Model.Anket.Name, пользователя: @Model.User.Login</h4>
<hr />
<div class="card-columns">
    <div class="card border-dark">
        <div class="card-header">
            Анкета: @Html.DisplayFor(model => model.Anket.Name)
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)%
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Second): @Html.DisplayFor(model => model.Second)
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Date_begin): @Html.DisplayFor(model => model.Date_begin)
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Date_end): @Html.DisplayFor(model => model.Date_end)
            </li>
        </ul>
    </div>
</div>
<hr />
@foreach (var quest in Model.Anket.Questions)
{
    <div class="card bg-light mb-3">
        <div class="card-header">Вопрос: @quest.Name</div>
        <ul class="list-group list-group-flush">
            @foreach (var answer in quest.Answers)
            {
            <li class="list-group-item answer-profile">
                @if (answer.Checks)
                {
                    <label class="form-check-label answer-true">@answer.Text</label>
                }
                else
                {
                    <label class="form-check-label">@answer.Text</label>
                }
            </li>
            }
        </ul>
    </div>
}
