﻿@model WebApplication1.Models.Anket
@{
    ViewData["Title"] = "Изменение анкеты";
}
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3>Изменение анкеты</h3>
            <form asp-action="Edit" asp-controller="Anket" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <input type="hidden" asp-for="@Model.Id" />

                <div class="form-group">
                    <label asp-for="Name">Название:</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" />
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-light float-right">Назад</a>
            </form>
        </div>
    </div>
</div>