﻿@model WebApplication1.Models.Question
@{
    ViewData["Title"] = "Добавление вопроса";
}
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3>Добавление нового вопроса</h3>
            @using (Html.BeginRouteForm("Form2Lvl", null, FormMethod.Post, true, null))
            {
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <input asp-for="@Model.Anket_id" type="hidden" />

                <div class="form-group">
                    <label asp-for="Name">Название:</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" />
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a asp-action="Index" asp-route-id="@Model.Anket_id" class="btn btn-light float-right">Назад</a>
            }
        </div>
    </div>
</div>