﻿@model List<WebApplication1.Models.Question>
@{
    ViewData["Title"] = "Вопросы";
}
<a asp-action="Index" asp-controller="Home" style="text-decoration: none;" class="btn btn-secondary">
    Назад
</a>

<h2>Вопросы для анкеты: @ViewBag.Anket.Name</h2>

<a asp-route-id="@ViewBag.Anket.Id" asp-action="Add" asp-controller="Question">
    <div class="card bg-light mb-3 text-center">
        <div class="card-header">Создать новый вопрос</div>
    </div>
</a>

@foreach (var item in Model)
{
<div class="card bg-light mb-3">    
    <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
            <a asp-route-id="@item.Id" asp-action="Edit" asp-controller="Question" class="btn btn-info card-link">Изменить</a>
            @using (Html.BeginForm("Remove", "Question", new { id = item.Id }, FormMethod.Post, true, new { onsubmit = "return confirm('Вы действительно хотите удалить " + item.Name + " ');return false;" }))
            {
                <input type="submit" value="Удалить" class="btn btn-danger card-link" />
            }
        </div>
        <h5 class="card-title">Вопрос: @Html.DisplayFor(modelItem => item.Name)</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-route-id="@item.Id" asp-action="Index" asp-controller="Answer" class="btn btn-success card-link">
                Отетов: @Html.DisplayFor(modelItem => item.Answers.Count)
            </a>
        </li>
    </ul>
</div>
}
