﻿@model List<WebApplication1.Models.Statistic>
@{
    ViewData["Title"] = "Статистика";
}

<h1>Статистика по тестам</h1>

<div class="card-columns">
    @foreach (var item in Model)
    {
    <div class="card border-dark">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.Header)
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item2 in item.Body)
            {
                <li class="list-group-item">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item2)</h6>
                </li>
            }
        </ul>
    </div>
    }
</div>