﻿@model List<WebApplication1.Models.Anket>
@{
    ViewData["Title"] = "Анкеты";
}

<h2>Анкеты</h2>

@if (this.User.IsInRole("admin"))
{
    <a asp-action="Add" asp-controller="Anket">
        <div class="card bg-light mb-3 text-center">
            <div class="card-header">Создать новую анкету</div>
        </div>
    </a>
}
<div class="card-columns">

    @foreach (var item in Model)
    {
        <div class="card bg-light mb-3 text-center">
            <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="card-body">
                @if (this.User.IsInRole("admin"))
                {
                    <a asp-route-id="@item.Id" asp-action="Index" asp-controller="Question" class="btn btn-success card-link">
                        Вопросов: @Html.DisplayFor(modelItem => item.Questions.Count)
                    </a>
                }
                else
                {
                    <p class="card-text">Вопросов: @Html.DisplayFor(modelItem => item.Questions.Count)</p>
                }
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-route-id="@item.Id" asp-action="Run" asp-controller="Test" class="btn btn-primary">Начать тест</a>
                </li>
            </ul>
            @if (this.User.IsInRole("admin"))
            {
                <div class="card-footer d-flex justify-content-around">
                    <a asp-route-id="@item.Id" asp-action="Edit" asp-controller="Anket" class="btn btn-info card-link">Изменить</a>
                    @using (Html.BeginForm("Remove", "Anket", new { id = item.Id }, FormMethod.Post, true, new { onsubmit = "return confirm('Вы действительно хотите удалить " + item.Name + " ');return false;" }))
                    {
                        <input type="submit" value="Удалить" class="btn btn-danger card-link" />
                    }
                </div>
            }
        </div>
    }
</div>

