﻿@model WebApplication1.Models.Answer

@{
    ViewData["Title"] = "Добавление ответа";
}

<h1>Вопрос: @Model.Question.Name</h1>

<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3>Добавление нового ответа</h3>
            @using (Html.BeginRouteForm("Form2Lvl", null, FormMethod.Post, true, null))
            {
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <input asp-for="@Model.Question_id" type="hidden" />

                <div class="form-group">
                    <label asp-for="Text">Ответ:</label>
                    <input type="text" asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" />
                </div>

                <div class="form-group">
                    <input class="" asp-for="Checks" />
                    <label asp-for="Checks">@Html.DisplayNameFor(model => model.Checks)</label>
                    <span asp-validation-for="Checks" class="col-12 mb-3 float-left"/>
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>
                <a asp-action="Index" asp-route-id="@Model.Question_id" class="btn btn-light float-right">Назад</a>
            }
        </div>
    </div>
</div>

