﻿@model IEnumerable<WebApplication1.Models.Answer>

@{
    ViewData["Title"] = "Index";
}

<a asp-route-id="@ViewBag.Question.Anket_id" asp-action="Index" asp-controller="Question" class="btn btn-secondary">
    Назад
</a>

<h1>Ответы для вопроса: @ViewBag.Question.Name</h1>

@if (Model.ToList().Count <= 3)
{
    <a asp-route-id="@ViewBag.Question.Id" asp-action="Add">
        <div class="card bg-light mb-3 text-center">
            <div class="card-header">Создать новый ответ</div>
        </div>
    </a>
}
else
{
    <div class="card bg-light mb-3 text-center">
        <div class="card-header">
            <span class="text-muted">Достигнуто максимальное количество ответов на данном вопросе</span>
        </div>
    </div>
}

<div class="card-deck">
    @foreach (var item in Model)
    {
        @if (item.Checks)
        {
            ViewData["BRAnswer"] = "border-success";
        }
        else
        {
            ViewData["BRAnswer"] = "border-danger";
        }
        <div class="card bg-light mb-3 @ViewBag.BRAnswer" style="min-width: 14em;">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <a asp-route-id="@item.Id" asp-action="Edit" asp-controller="Answer" class="btn btn-info card-link">Изменить</a>
                    @using (Html.BeginForm("Remove", "Answer", new { id = item.Id }, FormMethod.Post, true, new { onsubmit = "return confirm('Вы действительно хотите удалить " + item.Text + " ');return false;" }))
                    {
                        <input type="submit" value="Удалить" class="btn btn-danger card-link" />
                    }
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Ответ: @Html.DisplayFor(modelItem => item.Text) ( @item.Checks.ToCheckString() )</small>
            </div>
        </div>
    }
</div>
