﻿@model WebApplication1.Models.Result

@{
    ViewData["Title"] = "Отчёт";
}

<a asp-action="Index" asp-controller="Home" style="text-decoration: none;" class="btn btn-secondary">
    Назад
</a>
<h1>Результаты теста: @Model.Anket.Name</h1>

<div class="card-columns">
    <div class="card border-dark">
        <div class="card-header">
            Анкета: @Html.DisplayFor(model => model.Anket.Name)
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)%
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.User.Login): @Html.DisplayFor(model => model.User.Login)
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Second): @Html.DisplayFor(model => model.Second)
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Date_begin): @Html.DisplayFor(model => model.Date_begin)
            </li>
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.Date_end): @Html.DisplayFor(model => model.Date_end)
            </li>
        </ul>
    </div>
</div>
