﻿@model WebApplication1.Models.Anket

@{
    ViewData["Title"] = "Тестирование";
}

<h1>Тест: @Model.Name - количество вопросов (@Model.Questions.Count)</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Run" asp-anti-forgery="true">
            <input type="hidden" name="anket_id" value="@Model.Id">
            <input type="hidden" name="DateNow" value="@ViewBag.DateNow">
            @foreach (var quest in Model.Questions)
            {
                <div class="card bg-light mb-3">
                    <div class="card-header">Вопрос: @quest.Name</div>
                    <ul class="list-group list-group-flush">
                        @foreach (var answer in quest.Answers)
                        {
                            <li class="list-group-item answer">
                                <input type="radio" class="" id="@answer.Id" name="@quest.Id" value="@answer.Id">
                                <label for="@answer.Id" class="form-check-label answer">@answer.Text</label>
                            </li>
                        }
                        <input type="radio" class="" name="@quest.Id" value="null" style="display:none;" checked>
                    </ul>
                </div>
            }
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Закончить" />
                <input type="reset" class="btn btn-secondary" value="Сбросить" />
            </div>
        </form>
    </div>
</div>
